services:
  sagumo:
    image: "ghcr.io/being24/sagumo:latest"
    volumes:
      - ./data:/usr/src/sagumo/data
      - ./log:/usr/src/sagumo/log
    env_file:
      - ./.env
    restart: always
