aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
discord.py==1.2.5
future==0.18.2
geoip2==3.0.0
idna==2.8
idna-ssl==1.1.0
maxminddb==1.5.2
multidict==4.7.2
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
soupsieve==1.9.5
typing-extensions==3.7.4.1
urllib3==1.25.7
websockets==6.0
yarl==1.4.2